# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Dataset - do not upload raw images
data/raw/
data/test/

# Model checkpoints
*.pth
*.pt

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# Temporary files
*.tmp
*.temp